.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/w1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 800px;
    color: white;
    border-radius: inherit;
  }